Flask==3.0.3
Flask-Login==0.6.3
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
Jinja2==3.1.5
MarkupSafe==3.0.2
SQLAlchemy==2.0.38
WTForms==3.2.1
Werkzeug==3.0.6
matplotlib==3.10.0
netCDF4==1.7.2
numpy==2.2.3
cartopy==0.24.1
pillow==11.1.0
python-dotenv==1.0.1
reportlab==4.3.1
eventlet==0.39.0
weasyprint==53.0