Flask>=2.0.0
Flask-Login>=0.5.0
Flask-WTF>=1.0.0
Flask-SocketIO>=5.0.0
Werkzeug>=2.0.0
SQLAlchemy>=1.4.0
WTForms>=3.0.0
Jinja2>=3.0.0
python-dotenv>=0.15.0
pandas>=1.3.0
plotly>=5.0.0
numpy>=1.20.0
xhtml2pdf>=0.2.5
WeasyPrint>=53.0
reportlab>=3.6.0
Pillow>=8.2.0  # Dipendenza necessaria per reportlab
matplotlib>=3.4.0
flask-sqlalchemy==3.0.3
fpdf==1.7.2
email-validator==2.0.0
eventlet==0.33.3
sendgrid==6.10.0
requests==2.31.0
setuptools>=65.5.0
wheel>=0.40.0